﻿@model NavigationV3.Models.Groupe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Groupe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LibGroupe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LibGroupe)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
<table class="table">
    <tr>
        <th>Nom</th>
        <th>prénom</th>
        <th>Date De Naissance</th>
    </tr>
    @foreach (var item in Model.Etudiants)
    {
        <tr>
            <td>@Html.DisplayFor(x => item.Nom)</td>
            <td>@Html.DisplayFor(x => item.Prenom)</td>
            <td>@Html.DisplayFor(x => item.DateN)</td>
        </tr>
    }
</table>